/* line 9, css/app */
html,
body {
  box-sizing: border-box;
  font: 20px Century Gothic;
  margin: 0;
  min-width: 700px;
}
/* line 15, css/app */
* {
  box-sizing: inherit;
}
@media screen and (min-width: 1000px) {
  /* line 20, css/app */
  .fixed {
    position: fixed !important;
  }
}
/* Header Bar */
/* line 26, css/app */
.header-bar,
.header-bar-fill {
  background-color: white;
  left: 0;
  min-height: 110px;
  top: 0;
  width: 100%;
}
/* line 33, css/app */
#header-banner {
  font: 70px courier new;
  left: 20px;
  height: 70px;
  top: 20px;
  position: relative;
  -moz-transition: width 1s;
  -webkit-transition: width 1s;
}
/* line 42, css/app */
#subheader {
  font-size: 25px;
  position: relative;
}
/* line 44, css/app */
.fill-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* For the rotating name banner */
/* line 50, css/app */
.letter {
  color: black;
  position: absolute;
  margin: 0px 5px;
  opacity: 1;
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
}
/* line 59, css/app */
.enter {
  -moz-animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
  -moz-animation-name: enter;
  -webkit-animation-name: enter;
}
@-moz-keyframes enter {
  /* line 66, css/app */
  from {
    opacity: 0.2;
    color: orange;
    margin-top: -20px;
  }
}
@-webkit-keyframes enter {
  /* line 71, css/app */
  from {
    opacity: 0.2;
    color: orange;
    margin-top: -20px;
  }
}
/* line 76, css/app */
.exit {
  opacity: 0;
  margin-top: 10px;
  color: blue;
  -moz-animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
  -moz-animation-name: exit;
  -webkit-animation-name: exit;
}
@-moz-keyframes exit {
  /* line 86, css/app */
  from {
    opacity: 1;
    color: black;
    margin-top: 0px;
  }
}
@-webkit-keyframes exit {
  /* line 91, css/app */
  from {
    opacity: 1;
    color: black;
    margin-top: 0px;
  }
}
/* Main Content styling */
/* line 97, css/app */
.main-content {
  max-width: 1000px;
  margin: 0px auto;
}
/* line 101, css/app */
.main-content:after {
  float: clear;
}
/* line 105, css/app */
.left-col-wrapper {
  min-height: 1px;
  width: 300px;
}
/* line 109, css/app */
.left-col-wrapper,
.left-col {
  float: left;
  vertical-align: top;
}
/* line 113, css/app */
.left-col {
  border-radius: 5px;
  background-color: #ddddff;
  margin: 10px;
  padding: 20px;
  top: 110px;
  width: 280px;
}
/* line 122, css/app */
.center-col {
  overflow: hidden;
}
/* line 126, css/app */
.sidebar-about {
  font-size: 12pt;
}
/* line 130, css/app */
.blog-posts {
  border-radius: 5px;
  background-color: #ccccee;
  padding: 20px;
  margin: 10px;
}
/* line 137, css/app */
.blog-post {
  border-radius: 5px;
  background-color: #FFE;
  margin: 30px 20px;
  padding: 10px 20px;
}
/* line 144, css/app */
.post-tag {
  font-size: 12pt;
  margin-right: 3px;
}
